[Unit]
Description=Building disk images once data partition is mounted
Requires=data_images.mount
After=basic.target data_images.mount
DefaultDependencies=no


[Service]
Type=oneshot
ExecStart=/usr/local/bin/build_disk_images.sh
StandardOutput=journal

[Install]
WantedBy=basic.target
