[Unit]
Description=Mount the data partition
Requires=local-fs-pre.target
After=local-fs-pre.target
Before=local-fs.target
Conflicts=umount.target
DefaultDependencies=no

[Mount]
What=/dev/disk/by-label/persistent_part
Where=/data_images
Type=ext4
Options=rw,noatime
