[Unit]
Description=Mount the data partition

[Mount]
What=/dev/disk/by-label/persistent_part
Where=/data_images
Type=ext4
Options=defaults,rw,noatime
#TimeoutSec=seconds

[Install]
WantedBy=multi-user.target
