[Unit]
Description=Mount the data partition
Requires=multi-user.target
After=multi-user.target
Conflicts=umount.target
DefaultDependencies=no

[Mount]
What=/dev/disk/by-label/persistent_part
Where=/data_images
Type=ext4
Options=rw,noatime

[Install]
WantedBy=multi-user.target
