[Unit]
Description=Mount persistent home
Requires=create_disk_files.service
After=local-fs-pre.target data_images.mount create_disk_files.service
Before=local-fs.target
Conflicts=umount.target
DefaultDependencies=no

[Mount]
What=/data_images/home.img
Where=/home
Type=ext4
Options=loop=/dev/loop20,rw,defaults,auto,noatime,nodiratime
