[Unit]
Description=Mount persistent home
Requires=create_data_files.service
After=local-fs-pre.target local.mount create_data_files.service
Before=local-fs.target umount.target
Conflicts=umount.target
DefaultDependencies=no

[Mount]
What=/local/home.img
Where=/home
Type=ext4
Options=loop=/dev/loop20,rw,defaults

[Install]
WantedBy=local-fs.target


